
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 60px;


}
.gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 60px;

}
.gif3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
    width: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gif4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
  width: 120px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.gif5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 110px;
    margin-top: 60 px;
    margin-bottom: 70px;

}
.gif6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 130px;
    margin-top: 60 px;
    margin-bottom: 70px;
}
.gif7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 190px;
    margin-top: 90 px;
    margin-bottom: 90px;
}
.gif8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 100px;
    margin-top: 100 px;
    margin-bottom: 100px;
}
.gif9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}
.gif10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 110px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 150px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 90px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 60px;

}
.gif3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
    width: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gif4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
  width: 120px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.gif5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 110px;
    margin-top: 60 px;
    margin-bottom: 70px;

}
.gif6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 130px;
    margin-top: 60 px;
    margin-bottom: 70px;
}
.gif7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 190px;
    margin-top: 90 px;
    margin-bottom: 90px;
}
.gif8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 100px;
    margin-top: 100 px;
    margin-bottom: 100px;
}
.gif9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}
.gif10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 110px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 150px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 90px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 60px;

}
.gif3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
    width: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gif4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
  width: 120px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.gif5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 110px;
    margin-top: 60 px;
    margin-bottom: 70px;

}
.gif6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 130px;
    margin-top: 60 px;
    margin-bottom: 70px;
}
.gif7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 190px;
    margin-top: 90 px;
    margin-bottom: 90px;
}
.gif8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 100px;
    margin-top: 100 px;
    margin-bottom: 100px;
}
.gif9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}
.gif10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 110px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 150px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 90px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.gif2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 60px;

}
.gif3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
    width: 110px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gif4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
  width: 120px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.gif5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 110px;
    margin-top: 60 px;
    margin-bottom: 70px;

}
.gif6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
  width: 130px;
    margin-top: 60 px;
    margin-bottom: 70px;
}
.gif7 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 190px;
    margin-top: 90 px;
    margin-bottom: 90px;
}
.gif8 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  width: 100px;
    margin-top: 100 px;
    margin-bottom: 100px;
}
.gif9 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}
.gif10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 110px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 150px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 90px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif19 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 110px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif11 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 150px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif14 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif15 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif16 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 90px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif17 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 109px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif18 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 190px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.gif19 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  width: 140px;
    margin-top: 150 px;
    margin-bottom: 100px;
}

.page1 {
display: block;
font-size: 90;
padding: 300px 480px;
color: rgb(30, 195, 255)
}

/*the colour of the background changing to a different colour*/
body {
    height: 17200px;
    background: linear-gradient(0deg, rgb(97, 2, 97) 0%, rgb(211, 191, 232) 100%);

  

}
/*colour of page*/
.page1-body{
    background: rgb(211, 156, 228);  
    height: 100vh;        
}
.page2-body{
  background-color: antiquewhite;
  height: 100vh;
}

.page3-body{
  background-color: rgb(156, 99, 24);
  height: 100vh;
}
/*when you put your mouse over the gif it highlights it*/
.center:hover{
cursor: pointer;
border: 7px solid rgba(14, 132, 192, 0.799);

}

.gif18:hover{
cursor: pointer;
border: 7px solid rgba(255, 255, 255, 0.799);

}

.gif11:hover{
cursor: pointer;
border: 4px solid rgb(234, 62, 62);


}
.page1{
  text-align: center;
  display: block;
}









    