
body {
    font-family: sans-serif;
    color: #fff;
    font-size: 8rem;
  
  background: linear-gradient(-45deg, rgb(214, 9, 108), rgb(249, 115, 240), rgb(171, 78, 228), rgb(107, 5, 109));
  background-size: 10000% 10000%;
  
  /*applies the gradient animation*/
  animation: gradient 5s ease infinite;

}
  
  @keyframes gradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100%  { background-position: 0% 50%; }
  }